.el-pagination button:hover {
	color:#FF5940
}
.el-pagination .btn-next .el-icon,.el-pagination .btn-prev .el-icon {
	font-weight:700
}
.el-pagination__sizes .el-input .el-input__inner:hover {
	border-color:#FF5940
}
.el-pager,.el-pagination.is-background .btn-next,.el-pagination.is-background .btn-prev {
	padding:0
}
.el-pagination.is-background .btn-next,.el-pagination.is-background .btn-prev,.el-pagination.is-background .el-pager li {
	margin:0 5px;
	background-color:#f3f4f5;
	color:#5a5e66;
	min-width:30px;
	border-radius:2px
}
.el-pagination.is-background .btn-next.disabled,.el-pagination.is-background .btn-prev.disabled {
	color:#b4bccc
}
.el-pagination.is-background .el-pager li:hover {
	color:#FF5940
}
.el-pagination.is-background .el-pager li.active {
	background-color:#FF5940;
	color:#fff
}
.el-dialog,.el-pager li {
	background:#fff;
	-webkit-box-sizing:border-box
}
.el-pagination.is-background.el-pagination--small .btn-next,.el-pagination.is-background.el-pagination--small .btn-prev,.el-pagination.is-background.el-pagination--small .el-pager li {
	margin:0 3px;
	min-width:22px
}
.el-pager,.el-pager li {
	vertical-align:top;
	margin:0;
	display:inline-block
}
.el-pager .more::before {
	line-height:30px
}
.el-pager li:hover {
	color:#FF5940
}
.el-pager li.active {
	color:#FF5940;
}
.el-dialog__headerbtn:focus .el-dialog__close,.el-dialog__headerbtn:hover .el-dialog__close {
	color:#FF5940
}
.el-dropdown-menu__item:focus,.el-dropdown-menu__item:not(.is-disabled):hover {
	background-color:rgb(255,238,236);
	color:rgb(255,122,102)
}
.el-menu--horizontal>.el-menu-item.is-active,.el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
	border-bottom:2px solid #FF5940;
}
.el-menu-item:focus,.el-menu-item:hover {
	background-color:rgb(255,238,236)
}
.el-menu-item.is-active {
	color:#FF5940
}
.el-submenu__title:hover {
	background-color:rgb(255,238,236)
}
.el-submenu.is-active .el-submenu__title {
	border-bottom-color:#FF5940
}
.el-radio.is-bordered.is-checked {
	border-color:#FF5940
}
.el-radio__input.is-checked .el-radio__inner {
	border-color:#FF5940;
	background:#FF5940
}
.el-radio__input.is-checked+.el-radio__label {
	color:#FF5940
}
.el-radio__input.is-focus .el-radio__inner {
	border-color:#FF5940
}
.el-radio__inner:hover {
	border-color:#FF5940
}
.el-radio:focus:not(.is-focus):not(:active) .el-radio__inner {
	-webkit-box-shadow:0 0 2px 2px #FF5940;
	box-shadow:0 0 2px 2px #FF5940
}
.el-radio-button__inner:hover {
	color:#FF5940
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
	background-color:#FF5940;
	border-color:#FF5940;
	-webkit-box-shadow:-1px 0 0 0 #FF5940;
	box-shadow:-1px 0 0 0 #FF5940
}
.el-radio-button:focus:not(.is-focus):not(:active) {
	-webkit-box-shadow:0 0 2px 2px #FF5940;
	box-shadow:0 0 2px 2px #FF5940
}
.el-switch__label.is-active {
	color:#FF5940
}
.el-switch__input:focus~.el-switch__core {
	outline:#FF5940 solid 1px
}
.el-switch.is-checked .el-switch__core {
	border-color:#FF5940;
	background-color:#FF5940
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
	color:#FF5940;
}
.el-select-dropdown__item.selected {
	color:#FF5940;
}
.el-select .el-input__inner:focus {
	border-color:#FF5940
}
.el-select .el-input.is-focus .el-input__inner {
	border-color:#FF5940
}
.el-select__multiple-text {
	display:inline;
}
.el-table__empty-text {
	color:color(#FF5940 s(16%) l(44%))
}
.el-table th>.cell.highlight {
	color:#FF5940
}
.el-table .caret-wrapper {
	display:-webkit-inline-box;
	display:-ms-inline-flexbox;
	display:inline-flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	height:34px;
	width:24px;
}
.el-table .sort-caret.ascending {
	top:5px
}
.el-table .sort-caret.descending {
	bottom:7px
}
.el-table .ascending .sort-caret.ascending,.el-table .descending .sort-caret.descending {
	color:#FF5940
}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,.el-table__body tr.current-row>td,.el-table__body tr.hover-row.current-row>td,.el-table__body tr.hover-row.el-table__row--striped.current-row>td,.el-table__body tr.hover-row.el-table__row--striped>td,.el-table__body tr.hover-row>td {
	background-color:rgb(255,238,236)
}
.el-table-filter__list-item:hover {
	background-color:rgb(255,238,236);
	color:rgb(255,122,102)
}
.el-table-filter__list-item.is-active {
	background-color:#FF5940;
}
.el-table-filter__bottom button:hover {
	color:#FF5940
}
.el-date-table td.today span {
	color:#FF5940
}
.el-date-table td.available:hover {
	color:#FF5940
}
.el-date-table td.current:not(.disabled) span {
	background-color:#FF5940
}
.el-date-table td.end-date span,.el-date-table td.start-date span {
	background-color:#FF5940
}
.el-month-table td .cell:hover,.el-month-table td.current:not(.disabled) .cell {
	color:#FF5940
}
.el-year-table td .cell:hover,.el-year-table td.current:not(.disabled) .cell {
	color:#FF5940
}
.el-picker-panel__shortcut:hover {
	color:#FF5940
}
.el-picker-panel__shortcut.active {
	color:#FF5940
}
.el-picker-panel__icon-btn:hover {
	color:#FF5940
}
.el-date-picker__header-label.active,.el-date-picker__header-label:hover {
	color:#FF5940
}
.time-select-item.selected:not(.disabled) {
	color:#FF5940;
}
.el-range-editor.is-active,.el-range-editor.is-active:hover {
	border-color:#FF5940
}
.el-time-spinner__arrow:hover {
	color:#FF5940
}
.el-time-panel__btn.confirm {
	color:#FF5940
}
.el-message-box__headerbtn:focus .el-message-box__close,.el-message-box__headerbtn:hover .el-message-box__close {
	color:#FF5940
}
.el-breadcrumb__inner a:hover,.el-breadcrumb__inner:hover {
	color:#FF5940;
}
.el-tabs__active-bar {
	background-color:#FF5940;
}
.el-tabs__new-tab:hover {
	color:#FF5940
}
.el-tabs__item.is-active {
	color:#FF5940
}
.el-tabs__item:hover {
	color:#FF5940;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
	color:#FF5940;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item:hover {
	color:#FF5940
}
.el-tag {
	color:#FF5940;
}
.el-tag .el-icon-close {
	height:16px;
	width:16px;
	line-height:16px;
	color:#FF5940
}
.el-tag .el-icon-close:hover {
	background-color:#FF5940;
}
.el-input-number__decrease:hover,.el-input-number__increase:hover {
	color:#FF5940
}
.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),.el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
	border-color:#FF5940
}
.el-slider__bar {
	background-color:#FF5940;
}
.el-slider__button {
	border:2px solid #FF5940;
}
.el-slider.is-vertical.el-slider--with-input .el-slider__input:active .el-input-number__decrease,.el-slider.is-vertical.el-slider--with-input .el-slider__input:active .el-input-number__increase {
	border-color:#FF5940
}
.el-loading-spinner .el-loading-text {
	color:#FF5940;
}
.el-loading-spinner .path {
	stroke:#FF5940;
}
.el-loading-spinner i {
	color:#FF5940
}
.el-upload--picture-card:hover,.el-upload:focus {
	border-color:#FF5940;
	color:#FF5940
}
.el-upload:focus .el-upload-dragger {
	border-color:#FF5940
}
.el-upload-dragger .el-upload__text em {
	color:#FF5940;
}
.el-upload-dragger:hover {
	border-color:#FF5940
}
.el-upload-dragger.is-dragover {
	border:2px dashed #FF5940
}
.el-upload-list__item .el-icon-close-tip {
	color:#FF5940
}
.el-upload-list__item.is-success .el-upload-list__item-name:focus,.el-upload-list__item.is-success .el-upload-list__item-name:hover {
	color:#FF5940;
}
.el-upload-list__item-delete:hover {
	color:#FF5940
}
.el-progress-bar__inner {
	background-color:#FF5940;
}
.el-step__head.is-finish {
	color:#FF5940;
	border-color:#FF5940
}
.el-step__title.is-finish {
	color:#FF5940
}
.el-step__description.is-finish {
	color:#FF5940
}
.el-collapse-item__header.focusing:focus:not(:hover) {
	color:#FF5940
}
.el-cascader-menu__item.is-active {
	color:#FF5940
}
.el-color-dropdown__btn:hover {
	color:#FF5940;
	border-color:#FF5940
}
.el-color-dropdown__link-btn {
	color:#FF5940;
}
.el-color-dropdown__link-btn:hover {
	color:tint(#FF5940,20%)
}
.el-input .el-input__clear {
	color:#b4bccc;
	font-size:14px;
	line-height:16px;
	cursor:pointer;
	-webkit-transition:color .2s cubic-bezier(.645,.045,.355,1);
	transition:color .2s cubic-bezier(.645,.045,.355,1)
}
.el-input .el-input__clear:hover {
	color:#878d99
}
.el-input.is-active .el-input__inner,.el-input__inner:focus {
	border-color:#FF5940;
}
.el-textarea__inner:focus {
	border-color:#FF5940
}
.el-button:focus,.el-button:hover {
	color:#fff;
	border-color:rgb(255,205,198);
	background-color:rgb(255,238,236)
}
.el-button:active {
	color:rgb(230,80,58);
	border-color:rgb(230,80,58);
}
.el-button.is-plain:focus,.el-button.is-plain:hover {
	border-color:#FF5940;
	color:#FF5940
}
.el-button.is-active,.el-button.is-plain:active {
	color:rgb(230,80,58);
	border-color:rgb(230,80,58)
}
.el-button--primary {
	background-color:#FF5940;
	border-color:#FF5940
}
.el-button--primary:focus,.el-button--primary:hover {
	background:rgb(255,122,102);
	border-color:rgb(255,122,102);
}
.el-button--primary.is-active,.el-button--primary:active {
	background:rgb(230,80,58);
	border-color:rgb(230,80,58);
}
.el-button--primary.is-disabled,.el-button--primary.is-disabled:active,.el-button--primary.is-disabled:focus,.el-button--primary.is-disabled:hover {
	background-color:rgb(255,172,160);
	border-color:rgb(255,172,160)
}
.el-button--primary.is-plain {
	color:#FF5940;
	background:rgb(255,238,236);
	border-color:rgb(255,189,179)
}
.el-button--primary.is-plain:focus,.el-button--primary.is-plain:hover {
	background:#FF5940;
	border-color:#FF5940;
}
.el-button--primary.is-plain:active {
	background:rgb(230,80,58);
	border-color:rgb(230,80,58);
}
.el-button--primary.is-plain.is-disabled,.el-button--primary.is-plain.is-disabled:active,.el-button--primary.is-plain.is-disabled:focus,.el-button--primary.is-plain.is-disabled:hover {
	color:rgb(255,155,140);
	background-color:rgb(255,238,236);
	border-color:rgb(255,222,217)
}
.el-button--text,.el-button--text.is-disabled,.el-button--text.is-disabled:focus,.el-button--text.is-disabled:hover,.el-button--text:active {
	border-color:transparent
}
.el-button--text {
	color:#FF5940;
}
.el-button--text:focus,.el-button--text:hover {
	color:rgb(255,122,102);
}
.el-button--text:active {
	color:rgb(230,80,58);
}
.el-checkbox.is-bordered.is-checked {
	border-color:#FF5940
}
.el-checkbox__input.is-checked .el-checkbox__inner,.el-checkbox__input.is-indeterminate .el-checkbox__inner {
	background-color:#FF5940;
	border-color:#FF5940
}
.el-checkbox__input.is-checked+.el-checkbox__label {
	color:#FF5940
}
.el-checkbox__input.is-focus .el-checkbox__inner {
	border-color:#FF5940
}
.el-checkbox__inner:hover {
	border-color:#FF5940
}
.el-checkbox-button__inner:hover {
	color:#FF5940
}
.el-checkbox-button.is-checked .el-checkbox-button__inner {
	background-color:#FF5940;
	border-color:#FF5940;
	-webkit-box-shadow:-1px 0 0 0 rgb(255,155,140);
	box-shadow:-1px 0 0 0 rgb(255,155,140)
}
.el-checkbox-button.is-focus .el-checkbox-button__inner {
	border-color:#FF5940
}
.el-transfer__button {
	background-color:#FF5940;
}
.el-transfer-panel__item:hover {
	color:#FF5940
}
/* .head-nav,.head-nav .el-menu {
	background-color:#FF5940
}
.head-nav .el-menu .el-menu-item.is-active,.head-nav .el-menu .el-menu-item:hover {
	background-color:#e6503a;
} */
.logo-container {
	background-color:#FF5940;
}
.el-submenu.is-active .el-submenu__title, .el-menu-item.is-active {
	border-color:#FF5940
}
.el-submenu.is-active .el-submenu__title i {
	color:#FF5940
}
